{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Decision of the seller
{% endblock %}

{% block content %}

    <p>If you wish to change the initial price to your package, please write the final price in the box below: </p>

    <div class="form-inline"> {{ form.id_number }} &nbsp; ECU </div>

    <br>

    <p>Once you have set up the final price please click on the "Next" button</p>

    <button class="otree-btn-next btn btn-primary next-button otree-next-button">Next</button>

{% endblock %}
